html {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

.wrap {
    margin: 0 auto;
    width: 60%;
}

.burger {
    display: none;
}

.burger ul {
    text-align: center;
    list-style-type: none;
}

.burger li a {
    color: black;
}

.burger li {
    margin: 2% 0;
}

.burger li :hover {
    color: lightgrey;
}

.burger img {
    width: 5%;
}

#contact_info {
    display: flex;
    justify-content: space-around;
}

.avatar img {
    height: 20rem;
}

footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    padding: 1rem
}

a {
    text-decoration: none;
}

footer img {
    width: 4rem;
}

h3 {
    text-decoration: underline;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 2%;
}

.code {}

@media screen and (max-width: 640px) {
    #contact_info {
        display: block;
    }
    .burger {
        display: block;
    }
    .code-ex {
        display: none;
    }
}